<div class="container justify-content-start m-2">
    <div class="col-sm-3">
        <button type="button" class="btn btn-light btn-lg px-5">Crear juego</button>
    </div>
    <Jugadores @users={{model.users}}></Jugadores>
</div>

<h2 class="col-sm-3">Juegos activos:</h2>

<TablaJuegos @games={{model.games}}></TablaJuegos>