<div class="container justify-content-start m-2">
    <div class="col-sm-3">
        <button type="button" class="btn btn-light btn-lg px-5">Crear juego</button>
    </div>
    <div class="col-sm-3">
        <select>
            <option value="volvo">Kevin</option>
            <option value="saab">Panch</option>
            <option value="mercedes">Gera</option>
            <option value="audi">Charlie</option>
        </select>
    </div>
</div>

<h2 class="col-sm-3">Juegos activos:</h2>
<table class="table col-sm-7">
  <thead class="thead-light">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Status</th>
      <th scope="col">Jugadores</th>
      <th scope="col">Join</th>
      <th scope="col">Jugar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1234</th>
      <td>Mark</td>
      <td>1</td>
      <td><button type="button" class="btn btn-outline-light">Join</button></td>
      <td><button type="button" class="btn btn-outline-light">@ jugar!</button></td>
    </tr>
    <tr>
      <th scope="row">2345</th>
      <td>Jacob</td>
      <td>2</td>
      <td><button type="button" class="btn btn-outline-light">Join</button></td>
      <td><button type="button" class="btn btn-outline-light">@ jugar!</button></td>
    </tr>
    <tr>
      <th scope="row">3456</th>
      <td>Larry</td>
      <td>1</td>
      <td><button type="button" class="btn btn-outline-light">Join</button></td>
      <td><button type="button" class="btn btn-outline-light">@ jugar!</button></td>
    </tr>
  </tbody>
</table>