<div class="container justify-content-end m-3">
    <button type="button" class="btn btn-light btn-lg px-5">Salir</button>
</div>
<div class="container">
    <div class="col-sm-4  float-left">
        <h3>Código: #1234</h3>
        <h3>Status: no hay ganador</h3>
        <h3>Jugadores: 1</h3>
        <button type="button" class="btn btn-primary">Comenzar juego</button>
    </div>
    <div class="col-sm-8 float-right">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <img src="http://www.vivekvidyamandir.edu.in/wp-content/uploads/2016/01/dance.png" class="center-block jugadorimg" alt="...">
                <div>
                    <select>
                        <option value="volvo">ROCK</option>
                        <option value="saab">PAPER</option>
                        <option value="mercedes">SCISSORS</option>
                        <option value="audi">LIZARD</option>
                        <option value="audi">SPOCK</option>
                    </select>
                    <button type="button" class="btn btn-outline-light px-4">play</button>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="http://www.vivekvidyamandir.edu.in/wp-content/uploads/2016/01/dance.png" class="center-block jugadorimg" alt="...">
                <div>
                    <select>
                        <option value="volvo">ROCK</option>
                        <option value="saab">PAPER</option>
                        <option value="mercedes">SCISSORS</option>
                        <option value="audi">LIZARD</option>
                        <option value="audi">SPOCK</option>
                    </select>
                    <button type="button" class="btn btn-outline-light px-4">play</button>
                </div>
            </div>
        </div>
    </div> 
</div>